body {
	margin: 0;
}
.leftside {
	float: left;
	width: 50vw;
	height: 100vh;
	margin: 0;
}
.rightside {
	float: right;
	width: 50vw;
	height: 100vh;
	margin: 0;
}
img {
	width: 50vw;
	height: 100vh;
}
.rightside img {
	-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}
.leftside img {
	-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}
.rightside img:hover {
	zoom: 105%;

}
.leftside img:hover {
	zoom:105%;
}
.nav img {
	width: 100px;
	height: 100px;
	margin: 0;

}
.nav {
	position: fixed;
	top: 0;
	left: 46vw;
	z-index: 1;
	background-color: #FFFFFF;
}
 #rdv img {
	width: 200px;
	height: 200px;
	position: fixed;
	top: 100px;
	left: 43vw;
	z-index: 1;
}
.leftfor {
	background-color: #1D1D1D;
	position: absolute;
	width: 50vw;
	height: 75vh;
	opacity: .5;
}
.rightfor {
	background-color: #EB5516;
	position: absolute;
	right: 0vw;
	top:  0vh;
	width: 50vw;
	height: 82vh;
	opacity: .5;
}
.leftone img {
	position: fixed;
	top: 30vh;
	right: 65vw;
	width: 25vw;
	height: 25vh;
	color: #FFFFFF;
	z-index: 20;

}
.rightone img {
	position: fixed;
	top: 30vh;
	left: 65vw;
	width: 25vw;
	height: 25vh;
	color: #FFFFFF;
	z-index: 20;
}

